body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url("../img/background.png");
  background-size: cover;
  border-top: #7db96f 8px solid;
}

.title-box {
  opacity: 92%;
  color: #7db96f;
  background-color:white;
  margin: 40px;
  padding: 30px;
  font-family:'Quattrocento Sans', serif ;
  font-size: 20px;
}

.cta-container {
  display: flex;
  flex-direction: column;
}

.cta-green {
  color: white;
  text-decoration: none;
  background-color: #7db96f;
  padding: 15px 5px 15px 5px;
  margin: 10px 70px 10px 70px;
  border-radius: 15px;
  font-family:'Maven Pro', sans-serif;
}

.cta-light {
  color:#7db96f;
  text-decoration: none;
  background-color: white;
  padding: 15px 5px 15px 5px;
  margin: 10px 100px 50px 100px;
  border-radius: 15px;
  font-family:'Maven Pro', sans-serif;
}

.cta-green .facebook {
  color: white;
  text-decoration: none;
  background-color: #7db96f;
  padding: 15px 5px 15px 5px;
  margin: 10px 100px 50px 100px;
  border-radius: 15px;
}

a {
  font-family:'Maven Pro', sans-serif;
}

.fruits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fruits img {
  width: 25px;
}

.produit-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0 30px 0;
  border-radius: 30px;
}

.produit-box img {
  width: 90px;
}

.main-introduction {
  background-color: white;
  padding: 50px 60px 70px 60px;
}

.main-introduction h2 {
  color: black;
  font-family:'Maven Pro', sans-serif;
  font-size: 24px;
}

.main-introduction p {
  font-family:'Quattrocento Sans', serif ;
  margin: 20px 30px 30px 30px;
}

h2 {
  margin: 0;
  color: white;
}

main h2 {
  padding-top: 40px;
}

.section-produit {
  background-color:#7db96f;
}

footer {
  background-color: white;
  color: #7db96f;
  padding-top: 20px;
}

