body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url("../img/background.png");
  background-size: cover;
  border-top: #7db96f 8px solid;
}

.title-box {
  opacity: 92%;
  color: #7db96f;
  background-color:white;
  margin: 40px;
  padding: 40px;
  font-family:'Quattrocento Sans', serif ;
  font-size: 20px;
}

.cta-container {
  display: flex;
  flex-direction: column;
}

.cta-green {
  color: white;
  text-decoration: none;
  background-color: #7db96f;
  padding: 10px 5px 10px 5px;
  margin: 10px 70px 18px 70px;
  border-radius: 15px;
  font-size: 20px;
}

.cta-light {
  color:#7db96f;
  text-decoration: none;
  background-color: white;
  padding: 10px 5px 10px 5px;
  margin: 10px 105px 35px 105px;
  border-radius: 15px;
  font-size: 20px;
}

.facebook {
  color: white;
  text-decoration: none;
  background-color: #7db96f;
  padding: 10px 5px 10px 5px;
  margin: 10px 105px 35px 105px;
  border-radius: 15px;
  font-size: 20px;
}

.instagram {
  color: white;
  text-decoration: none;
  background-color: #7db96f;
  padding: 8px 0 8px 0;
  margin: 10px 100px 5px 100px;
  border-radius: 15px;
  font-size: 20px;
}

.email {
  color: white;
  text-decoration: none;
  background-color: #7db96f;
  padding: 8px 0 8px 0;
  margin: 10px 50px 5px 50px;
  border-radius: 15px;
  font-size: 20px;
}

a {
  font-family:'Maven Pro', sans-serif;
  color: black;
}

.fruits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fruits img {
  width: 25px;
}

.yellow-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 30px;
  background-color: #fcf7d6;
  padding: 0 25px 20px 25px;
  margin: 40px 30px 0 30px;
}

.green-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 30px;
  background-color: #d0f1ae;
  padding: 0 25px 20px 25px;
  margin: 40px 30px 0 30px;
}

.brown-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 30px;
  background-color: #cdc4b0;
  padding: 0 25px 20px 25px;
  margin: 40px 30px 0 30px;
}

.pink-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 30px;
  background-color: #e2a2b1;
  padding: 0 25px 20px 25px;
  margin: 40px 30px 0 30px;
}

.product-section img {
  width: 70px;
  align-self:flex-end;
}

.product-section h3 {
  font-family: 'Sriracha';
  font-size: 30px;
}

.product-section p {
  color: #676258;
  font-size: 17px;
}

.product-section {
  padding-bottom: 40px;
}

.main-introduction {
  background-color: white;
  padding: 50px 60px 70px 60px;
}

.main-introduction h2 {
  color: black;
  font-family:'Maven Pro', sans-serif;
  font-size: 24px;
}

.main-introduction p {
  font-family:'Quattrocento Sans', serif ;
  margin: 20px 30px 30px 30px;
}

h2 {
  margin: 0;
  color: white;
  font-family:'Maven Pro', sans-serif;
}

main h2 {
  padding-top: 40px;
}

.product-section {
  background-color:#7db96f;
}

footer {
  background-color: white;
  color: #7db96f;
  padding: 20px 30px 20px 30px;
}

footer h3 {
  font-family:'Maven Pro', sans-serif;
  font-size: 20px;
}

footer img {
  margin: 0 20px 20px 20px;
}

footer p {
  font-family:'Maven Pro', sans-serif;
  margin: 0 40px 20px 40px;
  font-size: 12px;
}
