body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url("../img/background.png");
  background-size: cover;
  border-top: #7db96f 8px solid;
}

.title-box {
  opacity: 92%;
  color: #7db96f;
  background-color:white;
  margin: 40px;
  padding: 30px;
  font-family:'Quattrocento Sans', serif ;
  font-size: 20px;
}

.cta-container {
  display: flex;
  flex-direction: column;
}

.cta-green {
  color: white;
  text-decoration: none;
  background-color: #7db96f;
  padding: 8px 0 8px 0;
  margin: 10px 90px 12px 90px;
  border-radius: 10px;
  font-family:'Maven Pro', sans-serif;
}

.cta-light {
  color:#7db96f;
  text-decoration: none;
  background-color: white;
  padding: 8px 0 8px 0;
  margin: 10px 120px 12px 120px;
  border-radius: 10px;
  font-family:'Maven Pro', sans-serif;
}

.facebook {
  color: white;
  text-decoration: none;
  background-color: #7db96f;
  padding: 8px 0 8px 0;
  margin: 10px 115px 40px 115px;
  border-radius: 10px;
}

.instagram {
  color: white;
  text-decoration: none;
  background-color: #7db96f;
  padding: 8px 0 8px 0;
  margin: 10px 110px 5px 110px;
  border-radius: 10px;
}

.email {
  color: white;
  text-decoration: none;
  background-color: #7db96f;
  padding: 8px 0 8px 0;
  margin: 10px 70px 5px 70px;
  border-radius: 10px;
}

a {
  font-family:'Maven Pro', sans-serif;
  color: black;
}

.fruits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fruits img {
  width: 25px;
}

.yellow-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0 30px 0;
  border-radius: 30px;
  background-color: #ddd;
  padding: 60px 20px 60px 20px;
  margin: 20px 30px 0 30px;
}

.product-section img {
  width: 90px;
}

.product-box h3 {
  font-family: 'Sriracha', cursive;
}

.main-introduction {
  background-color: white;
  padding: 50px 60px 70px 60px;
}

.main-introduction h2 {
  color: black;
  font-family:'Maven Pro', sans-serif;
  font-size: 24px;
}

.main-introduction p {
  font-family:'Quattrocento Sans', serif ;
  margin: 20px 30px 30px 30px;
}

h2 {
  margin: 0;
  color: white;
  font-family:'Maven Pro', sans-serif;
}

main h2 {
  padding-top: 40px;
}

.product-section {
  background-color:#7db96f;
}

footer {
  background-color: white;
  color: #7db96f;
  padding: 20px 30px 20px 30px;
}

footer h3 {
  font-family:'Maven Pro', sans-serif;
  font-size: 20px;
}

footer img {
  margin: 0 20px 20px 20px;
}

footer p {
  font-family:'Maven Pro', sans-serif;
  margin: 0 40px 20px 40px;
  font-size: 12px;
}
